.nav{
  box-shadow: var(--bs-0);
  height:50px;
  background-color: var(--lightgray);
  z-index: var(-z-navbar);
}

.headerContainer{
  display: grid;
  height: 50px;
  grid-template-columns: 50px auto;
  grid-template-areas: 
    'bars header'
  ;
}

.header{
  grid-area:header;
  align-self: center;
  justify-self: center;
}

.bars{
  grid-area:bars;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.navMenu{
  z-index: var(-z-navmenu);
  background-color: var(--lightgray);
}