.headerContainer{
  padding:var(--p-component);
  border:var(--b-component);
  display:grid;
  grid-template-areas: 
    'name settings'
    'vision settings'
  ;
}

.name{
  grid-area:name;
  font-family: var(--archivo);
  font-weight: 400;
  font-size:var(--f-5);
}

.vision{
  grid-area:vision;
  font-family: var(--roboto);
  color:var(--main-color);
  font-size:var(--f-3);
}

.routeForm{
  display: grid;
  padding:var(--p-component);
  border:var(--b-component);
}

.routeHeader{
  font-family:var(--archivo);
  font-weight:400;
  font-size:var(--f-5);
  margin-bottom:var(--m-0);
}

.routeInput{
  margin-bottom:var(--m-1);
}

.routeSectionWrapper{
  border: var(--b-component);
  padding: var(--p-component);
}

.mainRouteWrapper{
  /* padding:var(--p-2); */
  /* background-color: var(--lightgray); */
  /* margin:var(--m-0); */
}

.routeWrapper{
  border:solid var(--gray) 1px;
  margin-bottom: var(--m-2);
}

.mainRouteHeader{
  display:grid;
  background-color: var(--lightgray);
  padding: var(--p-2);
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'mainRouteName settings'
    'error error'
    'subrouteInput subrouteSubmit'
  ;
}

.mainRouteName{
  grid-area:mainRouteName;
  font-family: var(--archivo);
  font-size:var(--f-5);
  /* font-weight: 400; */
  color:var(--darkgray);
  padding: var(--p-0) 0;
}

.mainRoutePlus{
  grid-area:settings;
  color:var(--white);
  padding:var(--p-1);
  align-self: center;
  justify-self: center;
  font-size:var(--f-2);
  background-color: var(--main-color);
  border-radius: 100%;
}

.subRouteSection{
  
}

.subRouteWrapper{
  background-color: var(--lightestgray);
  margin: var(--m-1) 0;
  padding:var(--p-2);
  display:grid;
  grid-template-areas:
    'subroute icon'
  ;
}

.subRouteName{
  font-family:var(--roboto);
  font-size:var(--f-3);
  padding: 0 var(--p-1);
  grid-area:subroute;
}

.arrowIcon{
  grid-area:icon;
  align-self: center;
  justify-self: flex-end;
  padding-right:var(--p-1);
  color:var(--gray);
}



