.headerContainer{
  padding:var(--p-component);
  border:var(--b-component);
  display:grid;
  grid-template-areas: 
    'name settings'
    'vision settings'
  ;
}

.name{
  grid-area:name;
  font-family: var(--archivo);
  font-weight: 400;
  font-size:var(--f-5);
}

.vision{
  grid-area:vision;
  font-family: var(--roboto);
  color:var(--main-color);
  font-size:var(--f-3);
}

.settings{
  grid-area: settings;
  align-self: center;
  justify-self: end;
  padding-right: var(--p-3);
  font-size:var(--f-3);
}


.routeForm{
  display: grid;
  padding:var(--p-component);
  border:var(--b-component);
}

.routeHeader{
  font-family:var(--archivo);
  font-weight:400;
  font-size:var(--f-5);
  margin-bottom:var(--m-0);
}

.routeInput{
  margin-bottom:var(--m-1);
}

.routeSectionWrapper{
  border: var(--b-component);
  padding: var(--p-component);
}

.mainRouteWrapper{
  /* padding:var(--p-2); */
  /* background-color: var(--lightgray); */
  /* margin:var(--m-0); */
}

.routeWrapper{
  border:solid var(--darkgray) 1px;
  margin-bottom: var(--m-2);
}

.subrouteForm{
  display:grid;
  background-color: var(--lightgray);
  padding: var(--p-2);
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'mainRouteName mainRouteNmae'
    'error error'
    'subrouteInput subrouteSubmit'
  ;
}

.mainRouteName{
  grid-area:mainRouteName;
  font-family: var(--archivo);
  font-size:var(--f-5);
  /* font-weight: 400; */
  margin-bottom: var(--m-1);
  padding: var(--p-0) 0;
}

.subRouteFormIcon{

}

.subrouteInput{
  grid-area:subrouteInput;
  font-family: var(--roboto);
  font-size:var(--f-2);
  background-color: var(--white);
}

.subrouteInput:focus{
  border:none;
  outline:none;
  border-bottom:solid var(--main-color) 1px;
}

.subrouteSubmit{
  grid-area:subrouteSubmit;
  width: fit-content;
  align-self: center;
  justify-self: end;
  margin-left: var(--m-1);
  background-color: var(--main-color);
  color:var(--white);
  border-radius: 5px;
}

.subRouteFormError{
  grid-area:error;
}

.subRouteSection{
}

.subRouteWrapper{
  /* background-color: var(--lightgray); */
  margin: var(--m-1) 0;
  padding:var(--p-0);
}

.subRouteName{
  font-family:var(--roboto);
  font-size:var(--f-3);
  padding: 0 var(--p-1);
}



