.wrapper{
  list-style: none;
  display:grid;
  grid-template-columns: 4fr 1fr;
  padding: var(--p-0);
  border-bottom: dotted var(--gray) 1px;
}

.icon{
  align-self: center;
  justify-self: end;
  color:var(--white);
  border:solid var(--main-color) 1px;
}