.grid{
  display:grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'header icon'
    'sub icon'
  ;
}

.wrapper{
  padding:var(--p-component);
  border:var(--b-component);
}

.header{
  grid-area:header;
}

.sub{
  grid-area:sub;
}

.icon{
  grid-area:icon;
  align-self: center;
  justify-self: center;
}

