.form{
  display: grid;
  grid-template-areas:
    'header header'
    'error error'
    'nameInput nameInput'
    'visionInput visionInput'
    'submit cancel'
  ;
}

.header{
  grid-area:header;
  margin-bottom:var(--m-2);
}

.error{
  grid-area:error;
}

.nameInput{
  grid-area:nameInput;
  margin-bottom:var(--m-1);
}

.visionInput{
  grid-area:visionInput;
  margin-bottom:var(--m-2);
}

.submit{
  grid-area:submit;
  margin-right: var(--m-2);
  margin-left: var(--m-2);
}

.cancel{
  grid-area:cancel;
  margin-left: var(--m-2);
  margin-right: var(--m-2);
}