.container{
  display:grid;
}

.headerContainer{
  display:grid;
  padding:var(--p-component);
}

.headerContainer h2 {
  font-family: var(--archivo);
  font-size:var(--f-5);
  font-weight: 400;
}

.headerContainer p {
  font-family: var(--roboto);
  font-size:var(--f-3);
  color:var(--main-color);
}

.username{

}

.form{
  display:grid;
  padding:var(--p-2);
  border:var(--b-component);
}

.form h2 {
  font-family:var(--archivo);
  font-weight: 400;
  font-size:var(--f-5);
  margin-bottom:var(--m-0);
}

.input {
  margin-bottom: var(--m-1);
}