.container{
  display:grid;
}

.headerContainer{
  display:grid;
  padding:var(--p-component);
}

.headerContainer h2 {
  font-family: var(--archivo);
  font-size:var(--f-5);
  font-weight: 400;
}

.headerContainer p {
  font-family: var(--roboto);
  font-size:var(--f-3);
  color:var(--main-color);
}

.username{

}

.form{
  display:grid;
  padding:var(--p-2);
  border:var(--b-component);
}

.form h2 {
  font-family:var(--archivo);
  font-weight: 400;
  font-size:var(--f-5);
  margin-bottom:var(--m-0);
}

.input {
  margin-bottom: var(--m-1);
}

.projectContainer{
  padding:var(--p-component);
  border:var(--b-component);
}

.projectItem{
  border:dotted var(--darkgray) 1px;
  padding:var(--p-1);
  margin-bottom: var(--m-1);
}

.projectItemHeader{
  display:grid;
  grid-template-areas:
    'name icon'
    'vision icon'
  ;
}

.projectName{
  font-family:var(--archivo);
  font-weight: 400;
  font-size:var(--f-5);
  grid-area:name;
}

.projectVision{
  font-family: var(--roboto);
  font-size:var(--f-3);
  grid-area:vision;
  color:var(--main-color);
}

.projectIcon{
  grid-area:icon;
  align-self: center;
  justify-self: end;
  padding-right: var(--p-1);
}