@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

html, body{
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, ol {
  padding:0;
  margin:0;
}

input{
  border: none;
}

button{
  border:none;
}

a{
  display:grid;
  text-decoration: none;
  color:black;
}

:root{
  /*FONT FAMILY*/
  --roboto:"Roboto", sans-serif;
  --archivo:"Archivo", sans-serif;
  /*FONT SIZE*/
  --f-0:4px;
  --f-1:8px;
  --f-2:12px;
  --f-3:16px;
  --f-4:20px;
  --f-5:24px;
  --f-6:28px;
  --f-7:32px;
  --f-8:36px;
  /*COLOR*/
  --main-color:#1367d4;
  --black:#111;
  --white:#fff;
  --lightestgray:#eee;
  --lightgray:#ddd;
  --gray:#aaa;
  --darkgray:rgb(63, 63, 63);
  --green:#15725b;
  --lightgreen:#22a382;
  /*PADDING*/
  --p-component:var(--p-2) var(--p-2) var(--p-2) var(--p-2);
  --p-0:4px;
  --p-1:8px;
  --p-2:12px;
  --p-3:16px;
  --p-4:20px;
  --p-5:24px;
  /*MARGIN*/
  --m-component:var(--m-5);
  --m-0:4px;
  --m-1:8px;
  --m-2:12px;
  --m-3:16px;
  --m-4:20px;
  --m-5:24px;
  /*BOXSHADOW*/
  --bs-0:0px 2px 3px var(--lightgray);
  --bs-1:2px 2px 2px var(--black);
  --bs-2:1px 1px 2px var(--black);
  --bs-3:2px 2px 10px var(--lightgray);
  /*BORDER RADIUS*/
  --br-0:4px;
  --br-1:8px;
  --br-2:12px;
  --br-3:16px;
  --br-4:24px;
  /*BORDER*/
  --b-component:dotted var(--lightgray) 1px;
  /*Z-INDEX*/
  --z-navbar:501;
  --z-navmenu:499;
  --z-navHeader:500;
  --z-overlay:502;
  --z-form:503;
}


/*ANIMATIONS*/

@keyframes fade {
  from{
    opacity: 100%;
  }
  to{
    opacity: 0%;
  }
}
